@charset "UTF-8";


body{ background-color: aqua;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
 }
    

h1 { color: rgb(243, 219, 7);
}

h2 { color: rgb(228, 23, 149);
}

p { text-align: justify;
    color: rgb(70, 214, 26);
}

